<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>User Info Page</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">



<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
<link href="../static/css/css2.css" rel="stylesheet">

<link href="../static/css/all.min.css" rel="stylesheet">
<link href="../static/css/bootstrap-icons.css" rel="stylesheet">

<link href="../static/css/animate.min.css" rel="stylesheet">
<link href="../static/css/owl.carousel.min.css" rel="stylesheet">

<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<link href="../static/css/style.css" rel="stylesheet">

 <link rel="shortcut icon" type="image/png" href="../static/image/movinder.jpg">
</head>
<body >
<script type="text/javascript">

    function display(id){
        var traget=document.getElementById(id);
        if(traget.style.display=="none"){
            traget.style.display="";
        }else{
            traget.style.display="none";
      }
   }
</script>
<div class="container-xxl bg-white p-0">

<div class="container-fluid p-0">
 <div class="position-relative">
<img class="img-fluid" src="../static/picture/bg.jpg" alt="">
<div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);" >

<div class="container">
<div class="row justify-content-start">
<div class="col-10 col-lg-8">
<h1 class="display-3 text-white mb-4">Find the perfect movies for you!</h1>
<p class="fs-5 fw-medium text-white mb-4 pb-2">We are aiming to find the best movies for you with your basic information and the movies you have already seen.</p>
<div class=" bg-primary mb-4 wow" >

 <form action="http://127.0.0.1:5000/recommend"  method="POST">
<div class="row g-2">
<div class="col-md-10">
<div class="row g-2">
<div class="col-md-4">
<select name='age' class="form-select border-0">
<option selected="">Age</option>
    <option value="1">Under 18</option>
    <option value="18">18-24</option>
    <option value="25">25-34</option>
    <option value="35">35-44</option>
    <option value="45">45-49</option>
    <option value="50">50-55</option>
    <option value="56">56+</option>
</select>
</div>
<div class="col-md-4">
<select name='gender' class="form-select border-0">
<option selected="">Gender</option>
<option value="1">Male</option>
<option value="2">Female</option>
</select>
</div>
<div class="col-md-4">
<select name='occupation' class="form-select border-0">
<option selected="">Occupation</option>
<option value="1">academic/educator</option>
<option value="2">artist</option>
    <option value="3">clerical/admin</option>
    <option value="4">college/grad student</option>
    <option value="5">customer service</option>
    <option value="6">doctor/health care</option>
    <option value="7">executive/managerial</option>
    <option value="8">farmer</option>
    <option value="9">homemaker</option>
    <option value="10">K-12 student</option>
    <option value="11">lawyer</option>
    <option value="12">programmer</option>
    <option value="13">retired</option>
    <option value="14">sales/marketing</option>
    <option value="15">scientist</option>
    <option value="16">self-employed</option>
    <option value="17">technician/engineer</option>
    <option value="18">tradesman/craftsman</option>
    <option value="19">unemployed</option>
    <option value="20">writer</option>
    <option value="0">other</option>
</select>
</div>
</div>
</div>
</div>
</div>
 <div class="row g-4" id='beforemodel'>
 <div class="col-md-10">
 <div class="row g-4">
  <div class="col-md-2">
<button class="btn btn-dark border-0 w-200"type="button" name="find_direct" value="find_direct" id="find_direct" onclick="display('beforemodel');display('modelaandb')" >Find the perfect movies directly.</button>
</div>
     <div class="col-md-2">
<button class="btn btn-dark border-0 w-200" type="submit" name="more_movies" value="more_movies" id ="more_movies" >Rating for the movies you have seen.</button>
</div>
  </div>
</div>
 </div>
</div>
    <div class="row g-4" style="display:none" id="modelaandb">
        <div class="col-md-10">
             <div class="row g-4">
                 <div  class="col-md-2">
                     <button class="btn btn-dark border-0 w-200"type="submit" name="modelA" value="modelA" id="modelA">Get Recommendation using Model A</button>
                 </div>
                 <div  class="col-md-2">
                     <button class="btn btn-dark border-0 w-200"type="submit" name="modelB" value="modelB" id="modelB">Get Recommendation using Model B</button>
                 </div>
            </div>
        </div>
   </form>
</div>
</div>
</div>


<script data-cfasync="false" src="../static/js/email-decode.min.js"></script><script src="../static/js/jquery-3.4.1.min.js" type="38ba89abc959ef2c0e16b491-text/javascript"></script>
<script src="../static/js/bootstrap.bundle.min.js" type="38ba89abc959ef2c0e16b491-text/javascript"></script>
<script src="../static/js/wow.min.js" type="38ba89abc959ef2c0e16b491-text/javascript"></script>
<script src="../static/js/easing.min.js" type="38ba89abc959ef2c0e16b491-text/javascript"></script>
<script src="../static/js/waypoints.min.js" type="38ba89abc959ef2c0e16b491-text/javascript"></script>
<script src="../static/js/owl.carousel.min.js" type="38ba89abc959ef2c0e16b491-text/javascript"></script>

<script src="../static/js/main.js" type="38ba89abc959ef2c0e16b491-text/javascript"></script>
<script src="../static/js/rocket-loader.min.js" data-cf-settings="38ba89abc959ef2c0e16b491-|49" defer=""></script></body>
</html>